<!-- Header template being grabbed and used as a partial on each page -->


<!DOCTYPE html>
<html>
    <head>
        <title>App Demo</title>
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        
        <p><strong>HEADER</strong>text</p>
        
      