<!-- ejs (Embedded JavaScript): Allowing for javascript to be embedded within HTML.  -->

<!-- Homepage: Accessed from within app.js routs -->

<!-- Adding the header from the partials directory -->
<% include partials/header %>

<h2>This is the index.ejs home page!!!</h2>

<img src="http://i.imgur.com/U19K6AQ.jpg" />

<h3>...a message from index.ejs</h3>

<!-- Adding the footer from the partials directory -->
<% include partials/footer %>

